[Unit]
Description=Tuning App Startup Service
After=remoteproc.service

[Service]
Type=oneshot
ExecStart=/usr/bin/tuning_server
RemainAfterExit=yes
User=root

[Install]
WantedBy=multi-user.target
